<div id="view">
	<section class="blog">
		<div class="container">
			<div class="wrapper">
				<div class="columns m-no-pad">
					<div class="wrapper hidden m-no-pad">
						<div class="card">
							<div class="wrapper">
								<div class="table">
									<div class="row">
										<div class="cell fit pad">
											<a href="#/blog" class="icon_button large"><i class="mdi mdi-arrow-left"></i></a>
										</div>
										<div class="cell">
											<h1>{{title}}</h1>
											<small>{{date}}</small>
										</div>
									</div>
								</div>
								<hr>
								<p>
								{{content}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>