<h1>Become a Sponsor</h1>
<div class="columns">
	<div class="col-12">
		<div class="wrapper">
			<div class="card">
				<p>All our events are free with the support of the community to fund event expenses. To learn more about our events, you may view our proposal.</p>
				<a href="https://drive.google.com/file/d/0BwmC-cFr5zqZSzRHX1d5UDJMUUk/view?usp=sharing" class="raised_button" target="_blank">View Proposal</a>
				<p>To learn more about sponsorships, please email us at <a href="mailto:gdgphmarketing@gmail.com">gdgphmarketing@gmail.com</a> or answer the form in the link below.</p>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSeTLq62IoHL6zlwsrnK4zI4PI_oIC35cXmsWKjBpeDN8Ir0Ew/viewform" target="_blank" class="raised_button">Become a Sponsor</a>
			</div>
		</div>
	</div>
</div>
<!-- <h1>Partnership Mileages</h1>
<div class="columns">
	<div class="col-12">
		<div class="wrapper">
			<div class="card nopad">
				<table class="mileage" cellspacing="0">
					<tr class="title">
						<td>Acknowledgement and Exclusivity</td>
						<td>Gold</td>
						<td>Silver</td>
						<td>Bronze</td>
					</tr>
					<tr>
						<td>Top Billing of event (i.e. Brand Name Presents: Event Title)</td>
						<td><img src="images/gdg-icon.png"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Event Partner acknowledge as</td>
						<td>Co-Presented By</td>
						<td>In-Cooperation With</td>
						<td>Special Thanks To</td>
					</tr>
					<tr class="title">
						<td colspan="4">Printed Collaterals</td>
					</tr>
					<tr>
						<td>Company Logo/Name on GDG Event Streamers and Banners<br>*Tarpaulin in Event Venue Gate<br>*Tarpaulin in Registration Area<br>*Official Event Photo Wall</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr>
						<td>Company Logo/Name on Event Online Invitation, Teasers, and Posters</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr class="title">
						<td colspan="4">Web Exposure</td>
					</tr>
					<tr>
						<td>Inclusion of Company Logo/Name in all related web pages and website</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr>
						<td>Option to link your official company website by clicking your logo on the event official list of partners on GDG Philippines Event Website</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr class="title">
						<td colspan="4">Media Exposure</td>
					</tr>
					<tr>
						<td>Company Logo/Name to appear in GDG Social Networking Sites (Facebook, Twitter, Instagram, and Google+)</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr>
						<td>Other media ads will be added upon confirmation from Media Partners</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr class="title">
						<td colspan="4">Brand Activation</td>
					</tr>
					<tr>
						<td>Opportunity for TVC to be played during gaps (max. of 3 mins.)</td>
						<td>3 times</td>
						<td>2 times</td>
						<td>Once</td>
					</tr>
					<tr>
						<td>Logo to be part of Event Official Sponsors Loop</td>
						<td>4 seconds</td>
						<td>3 seconds</td>
						<td>2 seconds</td>
					</tr>
					<tr>
						<td>Standee Placements on Venue Sites located in strategic areas of the venue</td>
						<td>5 installments</td>
						<td>3 installments</td>
						<td>2 installments</td>
					</tr>
					<tr>
						<td>Option to setup Company Booth</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td></td>
					</tr>
					<tr>
						<td>Option to have a Brand Segment (max. of 15 mins.)</td>
						<td><img src="images/gdg-icon.png"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Live Acknowledgement of Company Name/Brand during Event Proper</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
					<tr>
						<td>Sponsor Passes</td>
						<td>5</td>
						<td>3</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Distribute company provided corporate literature, merchandise as giveaways</td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
						<td><img src="images/gdg-icon.png"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<center>
<a href="mailto:gdgphmarketing@gmail.com" class="raised_button">Become a Sponsor</a>
</center> -->