<h1>Become a Volunteer</h1>
<div class="columns">
	<div class="col-12 ">
		<div class="wrapper">
			<div class="card">
				<h3>GDG PH Droids</h3>
				<p>Google Developer Group Philippines is opening a new initiative of group of volunteers. We are currently looking for:
				<ul>
					<li>an active, hyper volunteer and aspiring leaders of the future.</li>
					<li>anyone uses any Google technologies or apps.</li>
					<li>anyone who wants to share their knowledge about Google technologies</li>
					<li>anyone interested to learn more about Google technologies</li>
				</ul>
				</p>
				<a class="raised_button">Become a Volunteer</a><br>
				<!-- <i><small>Registration is currently closed.</small></i> -->
			</div>
		</div>
	</div>
</div>