<div id="header">
	<img src="includes/images/logo.png"><br>
	<span>January 1-2, 2016</span>
	<p>Lorem ipsum keme keme keme 48 years keme keme bakit thunder sa katol. Pak ganern!</p>
	<a href="https://www.youtube.com/watch?v=p4ovFDLE9qk" target="_blank"><i class="material-icons">play_circle_filled</i>See what happened in 2015</a><br><br><br>
	<a href="#" class="raised_button">Register</a>
</div>
<div id="view">
	<div class="content color">
		<div class="wrapper">
			<div class="columns center">
				<div class="col-3 t-col-6 m-col-12">
					<span class="bignum">100</span>
					Attendees
				</div>
				<div class="col-3 t-col-6 m-col-12">
					<span class="bignum">2</span>
					Days
				</div>
				<div class="col-3 t-col-6 m-col-12">
					<span class="bignum">20</span>
					Sessions
				</div>
				<div class="col-3 t-col-6 m-col-12">
					<span class="bignum">4</span>
					Parallel tracks
				</div>
			</div>
			<div class="columns center">
				<div class="col-10 offset-1"><br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, architecto! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content speakers">
		<div class="wrapper">
			<h1 class="center">Speakers</h1>
			<div class="columns center" id="speakerRender">
			</div>
			<div class="columns center">
				<div class="col-12">
					<a onclick="App.loadController('speakers')" href="#speakers" class="raised_button">View All</a>
				</div>
			</div>
		</div>
	</div>
	<div class="content color">
		<div class="wrapper">
			<h1 class="center">2015</h1>
			<div class="columns">
				<div class="col-6 t-col-12">
					<div class="wrapper">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/p4ovFDLE9qk" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-6 t-col-12">
					<div class="wrapper">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit consequuntur, possimus corporis id quibusdam saepe exercitationem. Obcaecati, deserunt laboriosam optio.</p>
						<a href="https://www.facebook.com/186397268158879/photos/?tab=album&album_id=708476559284278" target="_blank" class="raised_button white">Photo Gallery</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		asd
	</div>
	<script>
		$.each(App.getRandom(App.speakerInfo, (App.speakerInfo.length < 4) ? App.speakerInfo.length : 4), function(index, speaker) {
			$("#speakerRender").append('<div class="col-3 t-col-6 m-col-12">'+
					'<img src="includes/images/speakers/'+speaker.img+'.jpg">'+
					'<span>'+speaker.name+'</span>'+
					'<small>'+speaker.company+'</small>'+
				'</div>');
		})
	</script>
</div>