<div id="view">
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="card">
						<div class="wrapper">
							<h1><a href="#/inventory" class="icon_button"><i class="mdi mdi-arrow-left"></i></a>Edit Item</h1>
						</div>
						<form id="frm">
							<div class="table horizontal-data middle">
								<div class="row">
									<div class="cell">Item Name</div>
									<div class="cell">
										<label><input type="text" name="name" value="{{name}}" required></label>
									</div>
								</div>
								<div class="row">
									<div class="cell">Description</div>
									<div class="cell">
										<label><input type="text" name="description" value="{{description}}"></label>
									</div>
								</div>
								<div class="row">
									<div class="cell">Unit</div>
									<div class="cell">
										<label><input type="text" name="unit" value="{{unit}}" required></label>
									</div>
								</div>
								<div class="row">
									<div class="cell"></div>
									<div class="cell">
										<input type="submit" value="Save">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		$("#frm").off().submit(function(e) {
			$(this).parents(".card").append(App.Constant.CARD_BLUR);
			var item = new Item();
			var form = $(this);
			item.set('{{id}}', function() {
				item.update(form.serializeJSON(), function() {
					App.location("inventory", "index", []);
				});
			});
			e.preventDefault();
		})
	</script>
</div>