<script>
	function replaceAll(str, find, replace) {
	  return str.replace(new RegExp(find, 'g'), replace);
	}

	var xhr, fl = true;

	$("#btnUpcoming").click(function() {
		$(".button_group a").removeClass("selected");
		$(this).addClass("selected");
		$("#containerEvents").html('<div class="card"><br><br><div class="loading_icon load_template"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"/></svg></div><br><br></div>');
		if(fl)
			fl = false;
		else
			xhr.abort();
		xhr = $.ajax({
			type: "get",
			crossOrigin: true,
			cache: true,
			url: "https://hub.gdgx.io/api/v1/chapters/105750470224587854845/events/upcoming?callback=?",
			dataType: 'jsonp',
			data: { 'headers': { 'Accept': 'application/json;' }, 'timeout': 10000 },
			success: function(events) {
				$("#containerEvents").html("");
				$.each(events.items, function(index, event) {
					var datex = new Date(event.start.substring(0,19));
					event.about = replaceAll(event.about, '<p style="text-align: justify;">', '<p>');
					event.about = replaceAll(event.about, '<br />', '');
					event.about = replaceAll(event.about, '<br>', '');

					$("#containerEvents").append('<div class="card"><h3>'+event.title+'</h3><small>'+event.location+'<br>'+dateFormat(datex, "dddd, mmmm dS, yyyy, h:MM:ss TT")+'</small><br><br>'+event.about+'</div>');
				})
			}
		});
	});
	$("#btnInfo").click(function() {
		$(".button_group a").removeClass("selected");
		$(this).addClass("selected");
		$("#containerEvents").html('<div class="card"><br><br><div class="loading_icon load_template"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"/></svg></div><br><br></div>');
		if(fl)
			fl = false;
		else
			xhr.abort();
		xhr = $.ajax({
			cache: true,
			url: "views/event_info.html",
			success: function(events) {
				$("#containerEvents").html(events);
			}
		});
	});

	function compare(a,b) {
    	return new Date(a.start) - new Date(b.start);
	}
	$("#btnPast").click(function() {
		$(".button_group a").removeClass("selected");
		$(this).addClass("selected");
		$("#containerEvents").html('<div class="card"><br><br><div class="loading_icon load_template"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"/></svg></div><br><br></div>');
		if(fl)
			fl = false;
		else
			xhr.abort();
		xhr = $.ajax({
			type: "get",
			cache: true,
			crossOrigin: true,
			url: "https://hub.gdgx.io/api/v1/chapters/105750470224587854845/events/past?callback=?",
			dataType: 'jsonp',
			data: { 'headers': { 'Accept': 'application/json;' }, 'timeout': 10000, 'perpage': 1000 },
			success: function(events) {
				$("#containerEvents").html("");
				events.items.sort(compare);
				var max = 5, count = 0;
				for(var i = events.items.length - 1; i >= 0; i--) {
					count++;
					if(max == count)
						break;
					var event = events.items[i];
					var datex = new Date(event.start.substring(0,19));
					event.about = replaceAll(event.about, '<p style="text-align: justify;">', '<p>');
					event.about = replaceAll(event.about, '<br />', '');
					event.about = replaceAll(event.about, '<br>', '');

					$("#containerEvents").append('<div class="card"><h3>'+event.title+'</h3><small>'+event.location+'<br>'+dateFormat(datex, "dddd, mmmm dS, yyyy, h:MM:ss TT")+'</small><br><br><p>'+event.about+'</p></div>');
				}
			}
		});
	});
	$("#btnUpcoming").click();
</script>
<h1>Events</h1>
<div class="button_group">
	<a id="btnUpcoming" class="raised_button">Upcoming</a>
	<a id="btnPast" class="raised_button">Past</a>
	<a id="btnInfo" class="raised_button">Info</a>
</div>
<div id="containerEvents">

</div>