<div class="span12">
	<h3>Other GDG Philippines Links</h3>
	<ul>
		<li data-icon="false"><a href="https://plus.google.com/u/0/communities/103753993813210263985" target="_blank" rel="nofollow">Google+ Community</a></li>
		<li data-icon="false"><a href="http://twitter.com/gdgphilippines" target="_blank" rel="nofollow">Twitter Account</a></li>
		<li data-icon="false"><a href="https://www.facebook.com/gdgphilippines" target="_blank" rel="nofollow">Facebook Page</a></li>
		<li data-icon="false"><a href="http://www.youtube.com/user/GDGPhilippines" target="_blank" rel="nofollow">YouTube Channel</a></li>
	</ul>
</div>
