<h1>Core Team</h1>
<div class="columns team">
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/ralph-regalado.jpg">
		<b>Ralph Regalado</b>
		<small><i>Community Manager, GDG Philippines<br>Big Data & Machine Learning</i></small>
		</div>
	</div>
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/jomar-tigcal.jpg">
		<b>Jomar Tigcal</b>
		<small><i>Community Manager, GDG Philippines<br>Android Development</i></small>
		</div>
	</div>
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/adam-baguyo.jpg">
		<b>Adam Ray Baguyo</b>
		<small><i>Corporate Relations Manager, GDG Philippines</i></small>
		</div>
	</div>
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/cristine-chen.jpg">
		<b>Cristine Chen</b>
		<small><i>Communications Manager, GDG Philippines</i></small>
		</div>
	</div>
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/jonah-mananghaya.jpg">
		<b>Jonah Micah Mananghaya</b>
		<small><i>Logistics Manager, GDG Philippines</i></small>
		</div>
	</div>
	<div class="col-4 s900-col-6">
		<div class="wrapper">
		<img src="images/team/juvar-abrera.jpg">
		<b>Juvar Abrera</b>
		<small><i>Creative Manager, GDG Philippines<br>Polymer & Progressive Web App</i></small>
		</div>
	</div>
</div>