<h1>Core Team</h1>
<div class="columns team">
</div>
<h1>Apprentices</h1>
<div class="columns apprentice"></div>
<script>
	var team = [
		{
			name: "Ralph Vincent Regalado",
			title: "Community Manager, GDG Philippines<br>Big Data & Machine Learning",
			img: "ralph-regalado",
			socialmedia: {
				gp: "https://plus.google.com/+RalphVincentRegalado",
				tw: "https://twitter.com/regalandroid",
				li: "https://www.linkedin.com/in/rvregalado",
				wb: "http://ralphregalado.com/"
			}
		},
		{
			name: "Jomar Tigcal",
			title: "Community Manager, GDG Philippines<br>Android Development",
			img: "jomar-tigcal",
			socialmedia: {
				gp: "https://plus.google.com/+JomarTigcal",
				tw: "https://twitter.com/jomartigcal",
				li: "https://ph.linkedin.com/in/jomartigcal",
				wb: "http://www.tigcal.com/"
			}
		},
		{
			name: "Adam Ray Baguyo",
			title: "Corporate Relations Manager, GDG Philippines",
			img: "adam-baguyo",
			socialmedia: {
				gp: "https://plus.google.com/102716654558206712999/posts",
				tw: "https://twitter.com/awesomeadamray",
				li: "https://ph.linkedin.com/in/adam-ray-villaruel-baguyo-a8b81379",
				wb: ""
			}
		},
		{
			name: "Cristine Chen",
			title: "Communications Manager, GDG Philippines",
			img: "cristine-chen",
			socialmedia: {
				gp: "https://plus.google.com/+CristineChenChen",
				tw: "https://twitter.com/CristineChen",
				li: "https://tw.linkedin.com/in/cristinechen/en",
				wb: ""
			}
		},
		{
			name: "Jonah Micah Mananghaya",
			title: "Logistics Manager, GDG Philippines",
			img: "jonah-mananghaya",
			socialmedia: {
				gp: "https://plus.google.com/+JonahMicahMananghaya",
				tw: "",
				li: "https://ph.linkedin.com/in/jonah-mananghaya-276072a1",
				wb: ""
			}
		},
		{
			name: "Nikki Gomicua",
			title: "Financial Manager, GDG Philippines",
			img: "nikki-gomicua",
			socialmedia: {
				gp: "",
				tw: "https://twitter.com/puffcheeky",
				li: "https://www.linkedin.com/in/nikki-ann-gomicua-bb0ba1109",
				wb: ""
			}
		},
		{
			name: "Juvar Abrera",
			title: "Creative Manager, GDG Philippines<br>Polymer & Progressive Web App",
			img: "juvar-abrera",
			socialmedia: {
				gp: "https://plus.google.com/u/0/+JuvarAbrera",
				tw: "https://twitter.com/juvar_a",
				li: "https://www.linkedin.com/in/juvar-abrera-4ba003b2",
				wb: "http://juvarabrera.com/"
			}
		}
	];
	var apprentice = [
		{
			name: "Jielynn Diroy",
			title: "Apprentice<br>Firebase",
			img: "jielynn-diroy",
			socialmedia: {
				gp: "https://plus.google.com/+JielynnDiroy",
				tw: "https://twitter.com/jielynnd",
				li: "https://www.linkedin.com/in/jielynn-diroy-319448105",
				wb: ""
			}
		},
		{
			name: "Jarrell Maverick Remulla",
			title: "Creatives Team<br>Android Development",
			img: "jarrell-remulla",
			socialmedia: {
				gp: "https://plus.google.com/+JarrellMaverickRemulla",
				tw: "https://twitter.com/extrememaverick",
				li: "https://www.linkedin.com/in/jarrell-maverick-remulla-005332122",
				wb: ""
			}
		}
	];
	$(".columns.team").html("");
	$.each(team, function(index, member) {
		$(".columns.team").append('<div class="col-4 s900-col-6"> <div class="wrapper"> <img src="images/team/'+member.img+'.jpg"> <b>'+member.name+'</b> <small><i>'+member.title+'</i></small><br>'+((member.socialmedia.gp != "") ? '<a href="'+member.socialmedia.gp+'" target="_blank"><img src="images/gp.png" class="sm" /></a>' : '')+((member.socialmedia.tw != "") ? '<a href="'+member.socialmedia.tw+'" target="_blank"><img src="images/tw.png" class="sm" /></a>' : '')+((member.socialmedia.li != "") ? '<a href="'+member.socialmedia.li+'" target="_blank"><img src="images/linkedin.png" class="sm" /></a>' : '')+((member.socialmedia.wb != "") ? '<a href="'+member.socialmedia.wb+'" target="_blank"><img src="images/web.png" class="sm" /></a>' : '')+'</div></div>');
	});
	$(".columns.apprentice").html("");
	$.each(apprentice, function(index, member) {
		$(".columns.apprentice").append('<div class="col-4 s900-col-6"> <div class="wrapper"> <img src="images/team/'+member.img+'.jpg"> <b>'+member.name+'</b> <small><i>'+member.title+'</i></small><br>'+((member.socialmedia.gp != "") ? '<a href="'+member.socialmedia.gp+'" target="_blank"><img src="images/gp.png" class="sm" /></a>' : '')+((member.socialmedia.tw != "") ? '<a href="'+member.socialmedia.tw+'" target="_blank"><img src="images/tw.png" class="sm" /></a>' : '')+((member.socialmedia.li != "") ? '<a href="'+member.socialmedia.li+'" target="_blank"><img src="images/linkedin.png" class="sm" /></a>' : '')+((member.socialmedia.wb != "") ? '<a href="'+member.socialmedia.wb+'" target="_blank"><img src="images/web.png" class="sm" /></a>' : '')+'</div></div>');
	});
	function isMobile() {
		return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
	}
	if(isMobile()) {
		$("img.sm").css({
			"top": "0px",
			"opacity": "1"
		})
	}
</script>