<div id="view">
	<section class="bg-cover" style="background-image: url(assets/images/events/codeblaze/cover.png)"></section>
	<section>
		<div class="container">
			<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<div class="columns">
								<div class="col-8 t-col-12"><h1 style="margin: 0">CodeBlaze App Challenge 2017</h1></div>
								<div class="col-4 t-col-12 right">
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSdrmALoT6TyIXTijJs3v3WLiuoU8F1QXbR6-W37vQIpw3Npzw/viewform" class="button" target="_blank"><i class="mdi mdi-ticket"></i>Register My Team</a>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Challenge</h3>
									<p>Participants in this app challenge will create innovative apps and online platforms that have the potential to help MSMEs in APEC economies leverage the internet to begin exporting to foreign markets. Participants are encouraged to think creatively about the challenges faced by local MSMEs, the opportunities afforded by online tools and marketplaces, and the practicalities associated with developing and implementing their new product.</p>
									<p>Participants might address this challenge in some of the following ways:</p>
									<ul style="line-height: 175%">
										<li>Providing MSME owners with information on how to get started with international trade</li>
										<li>Helping entrepreneurs identity new international buyers or access market opportunities</li>
										<li>Helping MSME owners compare and effectively leverage ecommerce marketplaces to sell their products overseas</li>
										<li>Supporting communication and dialogue between buyers and sellers</li>
										<li>Providing accurate information on legal and regulatory requirements related to exporting to different markets</li>
										<li>Providing accessible market intelligence on foreign economies</li>
										<li>Improving access to logistics services abroad</li>
										<li>Improving supply chain control and management</li>
									</ul>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Rules and Requirements</h3>
									<ul style="line-height: 175%">
										<li><b>Registration & Team Size</b>. Only registered teams will be only to compete. Participants must register as a team or individual and each group can be composed of 2 members maximum.</li>
										<li><b>Procedure</b>. In this event, participants will be given 2 days to develop an app on the theme to be given that day. Staying overnight is not allowed ( must vacate by 12MN, come back by 10AM the following day)</li>
										<li><b>Platform and Technology Stacks</b>. Mobile, web or any platform app would do. You may use any programming language you prefer.</li>
										<li><b>No Offsite Development</b>. Codes must be written in the venue during the event hours. Public APIs and open source codes are exceptions.</li>
										<li><b>Build Something New</b>. Can’t repackage your existing app. Don’t just change a tiny feature and call it a new app</li>
										<li><b>Track Your Code</b>. We highly recommend the use of Git or an equivalent to track your code as you write it. Also helps us when doing code audit.</li>
										<li><b>Demo</b>. No powerpoints/keynotes allowed. Build and demonstrate a working app, don’t just show us screenshots. Participants will present their hack from their respective tables. Judges will roam around to individually check and test each app.</li>
										<li><b>Code Reviews</b>. Top finalists will have their code audited to make sure it’s all new and legit, by a developer appointed by GDG Philippines and Judges. Your code belongs to you and we won’t share it with anyone, but we will want to see it if you win.</li>
									</ul>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Criteria for Judging</h3>
									<p>All eligible entries will be evaluated and ranked by a panel of qualified judges based on but not limited to the following criteria:</p>
									<ul style="line-height: 175%">
										<li>Quality of Software Development: 50%</li>
										<li>Creativity (App Uniqueness): 20%</li>
										<li>Usability (UI/UX): 15%</li>
										<li>Impact (Overall impact of app to society / target users): 15%</li>
									</ul>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Prize</h3>
									<p>Winning team will receive an all expense paid trip to <b>Hanoi, Vietnam on May 18-19, 2017</b> to represent Philippines to <a href="https://asiafoundation.github.io/apecapp" target="_blank"><b>APEC App Challenge 2017</b></a></p>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSdrmALoT6TyIXTijJs3v3WLiuoU8F1QXbR6-W37vQIpw3Npzw/viewform" class="button" target="_blank"><i class="mdi mdi-ticket"></i>Register My Team</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>