<div id="view">
	<section class="bg-cover" style="background-image: url(assets/images/events/next17/cover.png)"></section>
	<section>
		<div class="container">
			<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<div class="columns">
								<div class="col-8 t-col-12"><h1 style="margin: 0">Google Cloud Next 17 Extended Manila</h1></div>
								<div class="col-4 t-col-12 right">
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSful7QEEKC3G2rBbme7apxUS-1Wx5oJ84ap6jchMXdqP1qCDw/viewform" class="button" target="_blank"><i class="mdi mdi-ticket"></i>Register</a>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>About the Event</h3>
									<p><a href="https://cloudnext.withgoogle.com/" target="_blank">Google Cloud Next 17</a>, happened on March 8-10, 2017 in San Francisco, California, is a three day immersive event that brings together executives, customers, partners, developers, IT decision makers, and Google Engineers to build the future of the cloud.<br><br>GDG Philippines is organizing a Google Next 17 Extended Manila!</p>
									<table cellpadding="8px">
										<tr valign="top">
											<td width="1px"><i class="mdi mdi-map-marker"></i></td>
											<td>
												<a href="https://www.google.com.ph/maps/place/Globe+Telepark-Valero/@14.5582575,121.0156595,17z/data=!4m5!3m4!1s0x3397c9092398b91b:0x5686e6b2b244ae2e!8m2!3d14.5596386!4d121.0186636?hl=en" class="blue-text" target="_blank">Globe Telepark - Valero</a><br>
												<small>Valero Street, Makati, Metro Manila</small>
											</td>
										</tr>
										<tr valign="top">
											<td><i class="mdi mdi-calendar"></i></td>
											<td>
												April 28, 2017 - Friday<br><small>1:00PM - 6:00PM</small>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Agenda</h3>
									<p><i>Schedule may change without notice.</i></p>
								</div>
								<table class="schedule">
									<tr>
										<td><span>12.30</span>PM</td>
										<td><span>Registration</span></td>
									</tr>
									<tr>
										<td><span>1</span>PM</td>
										<td><span>Opening Remarks / House Rules / About GDG Philippines</span>by Jomar Tigcal / Jonah Micah Mananghaya / Juvar Abrera</td>
									</tr>
									<tr>
										<td><span>1.10</span>PM</td>
										<td><span>Keynote + Google Cloud Next Experience</span>by Albert Padin</td>
									</tr>
									<tr>
										<td><span>1.50</span>PM</td>
										<td><span>Google Cloud and Firebase Mobile Ecosystem</span>by Benj Tupas</td>
									</tr>
									<tr>
										<td><span>2.20</span>PM</td>
										<td><span>Career Journey with Google Cloud</span>by Bryle Joseph</td>
									</tr>
									<tr>
										<td><span>2.50</span>PM</td>
										<td><span>Cloud Natural Language API</span>by Brian Baquiran</td>
									</tr>
									<tr>
										<td><span>3.20</span>PM</td>
										<td><span>Cloud SQL</span>by John Paul Alcala</td>
									</tr>
									<tr>
										<td><span>4</span>PM</td>
										<td><span>Codelabs with Mentors</span></td>
									</tr>
									<tr>
										<td><span>5.50</span>PM</td>
										<td><span>Closing Remarks</span></td>
									</tr>
								</table>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Speakers</h3><br>
									<table cellspacing="48px">
										<tr>
											<td width="1px"><img src="assets/images/events/next17/Albert Padin.jpg" style="border-radius: 100%;" width="64px"></td>
											<td>
												<b>Albert Padin</b><br>
												<i>Google Developer Expert in Google Cloud</i>
											</td>
										</tr>
										<tr>
											<td width="1px"><img src="assets/images/events/next17/Benj Tupas.jpg" style="border-radius: 100%;" width="64px"></td>
											<td>
												<b>Benj Tupas</b><br>
												<i>CEO & Founder of Funbuddies</i>
											</td>
										</tr>
										<tr>
											<td width="1px"><img src="assets/images/events/next17/Brian Baquiran.jpg" style="border-radius: 100%;" width="64px"></td>
											<td>
												<b>Brian Baquiran</b><br>
												<i>Managing Director for Engineering at Pez.AI</i>
											</td>
										</tr>
										<tr>
											<td width="1px"><img src="assets/images/events/next17/John Paul Alcala.jpg" style="border-radius: 100%;" width="64px"></td>
											<td>
												<b>John Paul Alcala</b><br>
												<i>Chief Technology Officer of Ayannah</i>
											</td>
										</tr>
										<tr>
											<td width="1px"><img src="assets/images/events/next17/Bryle Joseph.jpg" style="border-radius: 100%;" width="64px"></td>
											<td>
												<b>Bryle Joseph</b><br>
												<i>Application Developer - Analyst, Accenture Cloud First Team</i>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 offset-3 t-col-12 t-offset-0 center">
						<div class="wrapper">
							<br>
							<h1>Sponsors</h1><br>
							<p>Platinum Year Long Sponsor</p>
							<a href="https://www.accenture.com/" target="_blank"><img src="assets/images/sponsors/accenture.png" width="150px"></a>
							<br><br><br><p>Made Possible By</p>
							<img src="assets/images/sponsors/google.png" width="150px"><br><br>
							<a href="http://www.globelabs.com.ph/#!/home" target="_blank"><img src="assets/images/sponsors/globe-labs-black.png" width="150px"></a>
							<!-- <p><br><br><br>Google Developer Group Philippines is a non-profit organization composed of volunteers. Support us and be part of Google Cloud Next 17 Extended Manila</p>
							<a href="#/be/a-sponsor" class="button"><i class="mdi mdi-heart"></i>Support us</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>