<div id="view">
	<section class="bg-cover" style="background-image: url(assets/images/events/next17/cover.png)"></section>
	<section>
		<div class="container">
			<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<div class="columns">
								<div class="col-8 t-col-12"><h1 style="margin: 0">Google Cloud Next 17 Extended Manila</h1></div>
								<div class="col-4 t-col-12 right">
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSful7QEEKC3G2rBbme7apxUS-1Wx5oJ84ap6jchMXdqP1qCDw/viewform" class="button" target="_blank"><i class="mdi mdi-ticket"></i>Register</a>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>About the Event</h3>
									<p><a href="https://cloudnext.withgoogle.com/" target="_blank">Google Cloud Next 17</a>, happened on March 8-10, 2017 in San Francisco, California, is a three day immersive event that brings together executives, customers, partners, developers, IT decision makers, and Google Engineers to build the future of the cloud.<br><br>GDG Philippines is organizing a Google Next 17 Extended Manila!</p>
									<table cellpadding="8px">
										<tr valign="top">
											<td width="1px"><i class="mdi mdi-map-marker"></i></td>
											<td>
												<i>TBA</i><br>
												<a href="mailto:gdgphilippines@gmail.com" class="button"><i class="mdi mdi-heart"></i>Be our venue partner</a>
												<!-- <br><small></small> -->
											</td>
										</tr>
										<tr valign="top">
											<td><i class="mdi mdi-calendar"></i></td>
											<td>
												April 28, 2017 - Friday<br><small>1:00PM - 5:00PM</small>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="card">
								<div class="wrapper">
									<h3>Be a sponsor</h3>
									<p>Google Developer Group Philippines is a non-profit organization composed of volunteers. Support us and be part of Google Cloud Next 17 Extended Manila</p>
									<a href="#/be/a-sponsor" class="button"><i class="mdi mdi-heart"></i>Support us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>