<div id="view">
	<section class="cover bg-cover" style="background-image: url(assets/images/events/tensorflowlite-mlonmobile/cover.png)"></section>
	<section style="margin-top: 650px">
		<div class="container">
			<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<div class="table nobg bottom">
								<div class="row">
									<div class="cell"><h1>TensorFlow Lite: Machine Learning on Mobile</h1></div>
									<div class="cell right">
										<a href="https://www.meetup.com/gdgphilippines/events/250123674/" class="button">Register</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 t-col-12">
						<div class="wrapper">
							<div class="card" data-bulaga id="cardAbout">
								<div class="wrapper">
									<h3>About the Event</h3>
									<p>TensorFlow Lite is TensorFlow's lightweight solution for mobile and embedded devices. It enables on-device machine learning inference with low latency and a small binary size. TensorFlow Lite also supports hardware acceleration with the Android Neural Networks API.<br><br>In this event, we will learn the basics of TensorFlow Lite, and create an Android app using it.</p>
									<table cellpadding="8px">
										<tr valign="top">
											<td width="1px"><i class="mdi mdi-map-marker"></i></td>
											<td>
												<a href="https://goo.gl/maps/4HEa3QoL8HE2" target="_blank">Acceler8 Coworking <i class="mdi mdi-open-in-new" style="font-size: 12px"></i></a>
												<br><small>7th floor, Finman Center, Tordesillas St., Salcedo Village, Makati City.</small>
											</td>
										</tr>
										<tr valign="top">
											<td><i class="mdi mdi-calendar"></i></td>
											<td>
												May 26, 2018
												<br><small>1:00PM - 5:00PM</small>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 t-col-12">
						<div class="wrapper">
							<div class="card" data-bulaga id="eventMap">
							</div>
						</div>
					</div>
					<script>
						$(window).resize(function() {
							$("#eventMap").height($("#cardAbout").outerHeight());
						})
						$("#eventMap").height($("#cardAbout").outerHeight());
						var map;
						function initMap() {
							map = new google.maps.Map(document.getElementById("eventMap"), {
								center: {lat: 14.554038844573876, lng: 121.01918176373934},
								zoom: 15,
								panControl:true,
								zoomControl:true,
								mapTypeControl:true,
								scaleControl:true,
								streetViewControl:true,
								overviewMapControl:true,
								rotateControl:true,
								scrollwheel: false,
								navigationControl: false,
								draggable: true,
								mapTypeId:google.maps.MapTypeId.ROADMAP
							});
							var marker = new google.maps.Marker({
								position: {lat: 14.554038844573876, lng: 121.01918176373934},
								animation: google.maps.Animation.BOUNCE
							})
							marker.setMap(map);
						}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfJwp5z6XbU6tYFHKY-J55Vc89jJCBJ2A&callback=initMap" async defer></script>
					<!-- <div class="col-12">
						<div class="wrapper">
							<div class="card">
								<div class="wrapper">
									<h3>Agenda</h3>
								</div>
								<table class="schedule">
									<tr>
										<td><span>9.30</span>a</td>
										<td>
											<span>Check-in</span>
											<span>30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>10</span>a</td>
										<td>
											<span>Opening Remarks</span>
											<span>10 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>10.10</span>a</td>
										<td>
											<span>Building Conversational Experiences</span>
											<span>30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>10.40</span>a</td>
										<td>
											<span>Conversational Design</span>
											<span>30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>11.10</span>a</td>
										<td>
											<span>Break</span>
											<span>10 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>11.20</span>a</td>
										<td>
											<span>Codelab: Facts about You/Bitcoin Info</span>
											<span>40 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>12</span>nn</td>
										<td>
											<span>Lunch</span>
											<span>1 hour</span>
										</td>
									</tr>
									<tr>
										<td><span>1</span>p</td>
										<td>
											<span>Create your own Actions for the Google Assistant</span>
											<span>2 hours 30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>3.30</span>p</td>
										<td>
											<span>Feedback on the Actions on Google Platform</span>
											<span>30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>4</span>p</td>
										<td>
											<span>Demo Your Actions</span>
											<span>45 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>4.50</span>p</td>
										<td>
											<span>Closing Remarks</span>
											<span>15 minutes</span>
										</td>
									</tr>
								</table>
							</div>
							<!-- <div class="card" data-bulaga>
								<div class="wrapper">
									<br>
									<h1>Sponsors</h1><br>
									<p>Powered By</p>
									<img src="assets/images/sponsors/google.png" width="150px">
									<br><br><br><p>Made Possible By</p>
									
									<h3>Be a sponsor</h3>
									<p>Google Developer Group Philippines is a non-profit organization composed of volunteers. Support us and be part of Google Cloud Next 17 Extended Manila</p>
									<a href="#/be/a-sponsor" class="button">Support us</a>
								</div>
							</div>
						</div>
					</div> -->
					<div class="col-6 offset-3 t-col-12 t-offset-0 center">
						<div class="wrapper">
							<br>
							<h1>Sponsors</h1><br>
							<!-- <p>Powered By</p>
							<img src="https://raw.githubusercontent.com/gdgphilippines/main-files/master/images/sponsors/google.png" width="150px"><br><br> -->
							<p>Official Venue Partner</p>
							<a href="http://www.acceler8.ph" target="_blank"><img src="assets/images/sponsors/acceler8-black.png" height="60px" alt="Acceler8"></a>
							<p><br><br><br>Google Developer Group Philippines is a non-profit organization composed of volunteers. Support us and be part of the TensorFlow Lite: Machine Learning on Mobile</p>
							<a href="#/be/a-sponsor" class="button"><i class="mdi mdi-heart"></i>Support us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>