<div id="view">
	<script>
	var images = [];
	images.push("1.jpg");
	images.push("2.jpg");
	images.push("3.jpg");
	images.push("4.jpg");
	images.push("5.jpg");
	images.push("6.jpg");
	<!--//--><![CDATA[//><!--
		var imagesx = new Array()
		function preload() {
			for (var y = 0; y < preload.arguments.length; y++) {
				imagesx[y] = new Image()
				imagesx[y].src = preload.arguments[y]
			}
		}
		for(var x = 0; x < images.length; x++) {
			preload("assets/images/slideshow/"+images[x])
		}
	//--><!]]>
	var i = 0;
	function slideshow() {
		if(i >= images.length) {
			i = 0;
		}
		$("#mainCover").css({
			"background-image": "url(assets/images/slideshow/"+images[i]+")"
		}, 500);
		i++;
		setTimeout(function() {
			slideshow();
		}, 5000);
	}
	slideshow();
	</script>
	<section class="cover" id="mainCover">
	</section>
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-6 t-col-12" data-bulaga>
					<div class="wrapper">
						<h1>About GDG Philippines</h1>
						<p>Google Developer Group (GDG) Philippines is a group of enthusiastic Filipino developers interested to collaborate and learn more about new technologies. <br><br>GDG Philippines is an independent group; our activities and the opinions expressed on any of our official social media pages should in no way be linked to Google, the corporation.</p>
					</div>
				</div>
				<div class="col-6 t-col-12" data-bulaga>
					<div class="wrapper center">
						<img src="assets/images/gdg_androids.png" class="w-10 t-w-12" style="margin-top: 48px;">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="colored blue">
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<h1>Next Event</h1>
					</div>
				</div>
				<div class="col-5 t-col-12">
					<div class="wrapper">
						<div class="card">
							<div class="wrapper" id="upcoming">
								<div class="loading_icon load_template"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"></circle></svg></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-5 t-col-12">
					<div class="wrapper white-text">
						<p>Look out for our next awesome stuff!</p>
						<p>
							<a href="https://plus.google.com/105750470224587854845" class="icon" target="_blank" style="margin: 0px 4px;"><i class="mdi mdi-google-plus"></i></a>
							<a href="https://www.facebook.com/gdgphilippines" class="icon" target="_blank" style="margin: 0px 4px;"><i class="mdi mdi-facebook"></i></a>
							<a href="https://twitter.com/gdgphilippines" class="icon" target="_blank" style="margin: 0px 4px;"><i class="mdi mdi-twitter"></i></a>
							<a href="https://www.youtube.com/channel/UCT9dkGk7ti1ok-JPUbXjTCg" class="icon" target="_blank" style="margin: 0px 4px;"><i class="mdi mdi-youtube-play"></i></a>
							<a href="https://www.instagram.com/gdgphilippines/" class="icon" target="_blank" style="margin: 0px 4px;"><i class="mdi mdi-instagram"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<h1>Read some stuff</h1>
					</div>
				</div>
			</div>
			<div class="columns" id="blog-list">
				<div class="col-12 load_container">
					<div class="wrapper">
						<div class="loading_icon load_template"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"></circle></svg></div>
					</div>
				</div>
				<div class="col-4 t-col-6 m-col-12 pad-bottom" id="blog_read_more">
					<div class="wrapper">
						<p>Want to read more? </p>
						<a href="http://blog.gdgph.org/" class="button">Click me then</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		App.getBlogPosts();
		App.getNextEvent();
		$(window).resize(function() {
			setTimeout(function() {
				resizeCards();
			}, 100)
		})
		function resizeCards() {
			var maxHeight = 0;
			$("#blog-list .card").css("height", "auto");
			$("#blog-list").find(".card").each(function() {
				if(maxHeight < $(this).outerHeight())
					maxHeight = $(this).outerHeight();
			});
			$("#blog-list").find(".card").css("height", maxHeight+"px");
		}
	</script>
	<section class="red colored" name="speakers">
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<h1>Our Awesome Speakers</h1>
						<p>Have a look at all of our previous speakers in our events? Looks cool, right?</p>
					</div>
				</div>
			</div>
		</div>
		<div class="vertical-scroll">
			<div class="content">
			</div>
		</div>
		<script>
			App.displaySpeakers();
		</script>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<p>GDG Philippines also provide speakers to your event. Fill up our form to request for speakers!</p>
						<a href="http://eventrequest.gdgph.org/" target="_blank" class="button">Request</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="wrapper">
						<h1>Other GDGs</h1>
					</div>
				</div>
				<div class="col-8 m-col-12">
					<div class="wrapper">
						<p>GDG Philippines is not the only chapter we have in the Philippines. There are 7 more!</p>
						<a href="https://plus.google.com/111881770223033262444/posts" target="_blank"><img src="assets/images/gdg/bacolod.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/111137079504396580440/posts" target="_blank"><img src="assets/images/gdg/baguio.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/116488685812814512345/posts" target="_blank"><img src="assets/images/gdg/cebu.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/109777245615877849664/posts" target="_blank"><img src="assets/images/gdg/cdo.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/105456972621599447153/posts" target="_blank"><img src="assets/images/gdg/davao.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/111624169093759630469/posts" target="_blank"><img src="assets/images/gdg/halsema.png" height="30px" style="margin: 24px;"></a>
						<a href="https://plus.google.com/102615103919428587748/posts" target="_blank"><img src="assets/images/gdg/zamboanga.png" height="30px" style="margin: 24px;"></a>
					</div>
				</div>
				<div class="col-4 m-col-12">
					<img src="assets/images/phmap.png" class="w-12">
				</div>
			</div>
		</div>
	</section>
</div>