<div id="view">
	<section class="cover" style="background-image: url(assets/images/events/tensorflow-dev-summit/cover.jpg)"></section>
	<section>
		<div class="container">
			<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<div class="table nobg bottom">
								<div class="row">
									<div class="cell"><h1>TensorFlow Dev Summit Extended Manila</h1></div>
									<div class="cell right">
										<a href="#" class="button">Register</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 t-col-12">
						<div class="wrapper">
							<div class="card" data-bulaga id="cardAbout">
								<div class="wrapper">
									<h3>About the Event</h3>
									<p><a href="https://events.withgoogle.com/tensorflow-dev-summit/" target="_blank">TensorFlow Dev Summit</a> will be held on February 15, 2017 in Mountain View, California. It is a full day of technical talks, demos, and conversations with the TensorFlow team and machine learning experts from around the world.<br><br>GDG Philippines is organizing a TensorFlow Dev Summit Extended. The event will be in BGC (exact venue TBA).</p>
									<table cellpadding="8px">
										<tr valign="top">
											<td width="1px"><i class="mdi mdi-map-marker"></i></td>
											<td>
												Bonifacio Global City, Taguig City
												<!-- <br><small></small> -->
											</td>
										</tr>
										<tr valign="top">
											<td><i class="mdi mdi-calendar"></i></td>
											<td>
												February 18, 2017
												<br><small>12:30AM - 5:00PM</small>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 t-col-12">
						<div class="wrapper">
							<div class="card" data-bulaga id="eventMap">
							</div>
						</div>
					</div>
					<script>
						$(window).resize(function() {
							$("#eventMap").height($("#cardAbout").outerHeight());
						})
						$("#eventMap").height($("#cardAbout").outerHeight());
						var map;
						function initMap() {
							map = new google.maps.Map(document.getElementById("eventMap"), {
								center: {lat: 14.5499998, lng: 121.0463612},
								zoom: 15,
								panControl:true,
								zoomControl:true,
								mapTypeControl:true,
								scaleControl:true,
								streetViewControl:true,
								overviewMapControl:true,
								rotateControl:true,
								scrollwheel: false,
								navigationControl: false,
								draggable: true,
								mapTypeId:google.maps.MapTypeId.ROADMAP
							});
							var marker = new google.maps.Marker({
								position: {lat: 14.5499998, lng: 121.0463612},
								animation: google.maps.Animation.BOUNCE
							})
							marker.setMap(map);
						}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfJwp5z6XbU6tYFHKY-J55Vc89jJCBJ2A&callback=initMap" async defer></script>
					<div class="col-12">
						<div class="wrapper">
							<div class="card">
								<div class="wrapper">
									<h3>Agenda</h3>
								</div>
								<table class="schedule">
									<tr>
										<td><span>12.30</span>p</td>
										<td>
											<span>Check-in</span>
											<span>30 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>1</span>p</td>
										<td>
											<span>Opening Remarks</span>
											<span>15 minutes | Jomar Tigcal, Community Manager, GDG Philippines</span>
										</td>
									</tr>
									<tr>
										<td><span>1.15</span>p</td>
										<td>
											<span>Ice Breaker</span>
											<span>30 minutes | Adam Ray Baguyo, Corporate Relations Head, GDG Philippines</span>
										</td>
									</tr>
									<tr>
										<td><span>1.45</span>p</td>
										<td>
											<span>Keynote</span>
											<span>45 minutes</span>
										</td>
									</tr>
									<tr>
										<td><span>2.30</span>p</td>
										<td>
											<span>Subjectivity Analysis using TensorFlow</span>
											<span>30 minutes | Ralph Vincent Regalado, Community Manager, GDG Philippines</span>
										</td>
									</tr>
									<tr>
										<td><span>3</span>p</td>
										<td>
											<span>TensorFlow for Machine Translation</span>
											<span>30 minutes | Kristine Mae Adlaon, Faculty, University of the Immaculate Conception - Davao</span>
										</td>
									</tr>
									<tr>
										<td><span>3.30</span>p</td>
										<td>
											<span>Building a chatbot with TensorFlow model: Syntaxnet and Inception</span>
											<span>30 minutes | Mark Anthony Panizales, Lead Software Engineer, Loud Panda Interactive</span>
										</td>
									</tr>
									<tr>
										<td><span>4</span>p</td>
										<td>
											<span>Codelabs: TensorFlow</span>
											<span>1 hour | Albert Padin, Google Developer Expert for Cloud</span>
										</td>
									</tr>
									<tr>
										<td><span>5</span>p</td>
										<td>
											<span>Closing Remarks</span>
											<span>30 minutes | Chelle Obligacion-Gray, Developer Relations APAC, Google</span>
										</td>
									</tr>
								</table>
							</div>
							<div class="card" data-bulaga>
								<div class="wrapper">
									<h3>Be a sponsor</h3>
									<p>Google Developer Group Philippines is a non-profit organization composed of volunteers. Support us and be part of Google Cloud Next 17 Extended Manila</p>
									<a href="#/be/a-sponsor" class="button">Support us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>