<div id="view">
	<section>
		<div class="bg blue"></div>
		<div class="container">
			<div class="wrapper columns">
				<div class="card">
					<div class="columns">
						<div class="col-12">
							<div class="wrapper">
								<a href="#/initiatives"><i class="mdi mdi-arrow-left"></i></a>
								<center><img src="assets/images/programs/droids-logo.png" class="w-6 t-w-10 m-w-12" style="padding: 24px"></center>
								<h1>About</h1>
								<p>Google Developer Group Philippines is opening a new initiative of group of volunteers. We are currently looking for:
									<ul>
										<li>an active, hyper volunteer and aspiring leaders of the future.</li>
										<li>anyone uses any Google technologies or apps.</li>
										<li>anyone who wants to share their knowledge about Google technologies</li>
										<li>anyone interested to learn more about Google technologies</li>
									</ul>
								</p>
								<center>
									<a href="http://bit.ly/GDGPHDroids" target="_blank" class="button">Apply Now</a>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>