<div id="view">
	<section>
		<div class="bg red"></div>
		<div class="container">
			<div class="wrapper columns">
				<div class="card">
					<div class="columns">
						<div class="col-12">
							<div class="wrapper">
								<a href="#/initiatives"><i class="mdi mdi-arrow-left"></i></a>
								<center><img src="assets/images/programs/stories-logo.png" class="w-6 t-w-10 m-w-12" style="padding: 24px"></center>
								<h1>About</h1>
								<p>GDG Philippines Stories is our initiative to hear the successes from the members of our community on how did GDG Philippines help them achieve their goal.</p>
								<h1>Get Featured</h1>
								<p>Every quarter, we will be selecting the best story we think is worth sharing to the community. We'll also be conducting an video interview to freely express their story. Not just that, we will also be submitting that video to Google to recognize their story.</p>
								<div class="columns center">
									<div class="col-6 t-col-12">
										<div class="wrapper">
											<i class="mdi mdi-48px mdi-video blue-text"></i><br><br>
											<h3>Video Interview</h3>
											<p>To be uploaded on GDGPH's YouTube</p>
										</div>
									</div>
									<div class="col-6 t-col-12">
										<div class="wrapper">
											<i class="mdi mdi-48px mdi-library-books red-text"></i><br><br>
											<h3>Blog Article</h3>
											<p>To be posted on GDGPH's Medium</p>
										</div>
									</div>
								</div>
								<center>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSdAEgyXhT4LpjTajAbiJVC41ISO-B3USzQtO1fiZ8LQQ9dyoQ/viewform" target="_blank" class="button">Submit My Story</a>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>