
html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  background-color: #4fc2f8;
  -webkit-overflow-scrolling: touch;
}
core-toolbar {
  background: #4385f5;
  color: white;
}
paper-tabs {
  min-width:480px;
}
paper-tab {
  opacity: 1;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

h3 {
  text-align:center;
  font-weight:normal;
  border: 2px solid #ffffff;
  padding:10px 20px;
  max-width:200px;
  font-size:30px;
  margin-left:auto;
  margin-right:auto;
}

iframe {
  max-width:80%;
  margin-left:auto;
  margin-right:auto;
  border:0;
  display:block;
}

h4 {
  font-size:30px;
  font-weight:normal;
  text-align:center;
  margin-left:50px;
  margin-right:50px;
}

paper-shadow, .card { 
  margin:16px;
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  background-color: white;
  font-size:18px;
  text-align:center;
  color:#000000;
}

paper-section {
  background-color: #4fc2f8
}