<div class="action-bar">
	<div class="table middle">
		<div class="row">
			<div class="cell">
				<div class="wrapper">
					<a href="#/" class="logo"><i class="gdg-icon"></i> G<span class="hover">oogle&nbsp;</span>D<span class="hover">eveloper&nbsp;</span>G<span class="hover">roup</span> Philippines</a>
				</div>
			</div>
			<div class="cell right">
				<div class="drop_down">
					<i class="mdi mdi-menu"></i>
					<ul class="nav">
						<li><a href="#/">About</a></li>
						<li><a href="http://blog.gdgph.org/">Blog</a></li>
						<li><a href="#/events">Events</a></li>
						<li><a href="#/team">Team</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="view">
	{{view}}
</div>
<div class="footer">
	<div class="hr">
		<div class="b"></div>
		<div class="b"></div>
		<div class="b"></div>
	</div>
	<div class="wrapper">
		<div class="columns">
			<div class="col-3 t-col-6 m-col-12">
				<div class="wrapper">
					<h4>About GDG</h4>
					<ul>
						<li><a href="#/about">About</a></li>
						<li><a href="http://blog.gdgph.org/" target="_blank">Blog</a></li>
						<li><a href="#/events">Events</a></li>
						<li><a href="#/team">Team</a></li>
						<li><a href="#/community/guidelines">Code of Conduct</a></li>
						<li><a href="https://developers.google.com/groups/chapter/105750470224587854845/" target="_blank">Google Developers Page</a></li>
					</ul>
				</div>
			</div>
			<div class="col-3 t-col-6 m-col-12">
				<div class="wrapper">
					<h4>Get Involved</h4>
					<ul>
						<li><a href="#/be/a-sponsor">Become a Sponsor</a></li>
						<li><a href="#/be/a-volunteer">Become a Volunteer</a></li>
						<li><a href="http://eventrequest.gdgph.org/" target="_blank">Speaker Request</a></li>
					</ul>
				</div>
			</div>
			<div class="col-3 t-col-6 m-col-12">
				<div class="wrapper">
					<h4>Resources</h4>
					<ul>
						<li><a href="https://drive.google.com/open?id=0Bz1mkCHCa8ndV3BoWE56NTh6OXM" target="_blank">Media Kit</a></li>
						<li><a href="https://www.facebook.com/gdgphilippines/photos/?tab=albums" target="_blank">Photo Gallery</a></li>
					</ul>
				</div>
			</div>
			<div class="col-3 t-col-6 m-col-12">
				<div class="wrapper">
					<h4>Contact Us</h4>
					<p>Follow us in our social media pages.</p>
					<a href="https://plus.google.com/105750470224587854845" class="icon" target="_blank"><i class="mdi mdi-google-plus"></i></a>
					<a href="https://www.facebook.com/gdgphilippines" class="icon" target="_blank"><i class="mdi mdi-facebook"></i></a>
					<a href="https://twitter.com/gdgphilippines" class="icon" target="_blank"><i class="mdi mdi-twitter"></i></a>
					<a href="https://www.youtube.com/channel/UCT9dkGk7ti1ok-JPUbXjTCg" class="icon" target="_blank"><i class="mdi mdi-youtube-play"></i></a>
					<a href="https://www.instagram.com/gdgphilippines/" class="icon" target="_blank"><i class="mdi mdi-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer2">
	<div class="wrapper">
		<div class="columns">
			<div class="col-12">
				<div class="wrapper">
					<a href="/" class="logo">
						<i class="gdg-icon"></i>
						G<span class="hover">oogle&nbsp;</span>D<span class="hover">eveloper&nbsp;</span>G<span class="hover">roup</span> Philippines
					</a>
				</div>
			</div>
		</div>
	</div>
</div>