<div id="view">
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="card">
						<div class="wrapper">
							<div class="table">
								<div class="row">
									<div class="cell">
										<h1>Transaction</h1>
									</div>
									<div class="cell right">
										<a href="#/transaction/add" class="button"><i class="mdi mdi-arrow-compress"></i>Transact</a>
									</div>
								</div>
							</div>
						</div>
						<div class="table vertical-data middle" id="tblData">
							<div class="row title">
								<div class="cell fit"></div>
								<div class="cell">Item Name</div>
								<div class="cell">Quantity</div>
								<div class="cell">Storage</div>
								<div class="cell">By</div>
								<div class="cell">Remarks</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		var t = new Transaction();
		t.getAll(function(data) {
			$("#tblData").find("[data-id]").remove();
			console.log(data);
			for(var x in data) {
				console.log(data[x]);
				var item = new Item();
				item.set(data[x].itemid, function() {
					console.log(item);
					var storage = new Storage();
					storage.set(data[x].storageid, function() {
						var user = new User();
						user.set(data[x].userid, function() {
							console.log(data[x].quantity)
							$("#tblData").append('<div class="row" data-id="'+x+'"><div class="cell">'+((data[x].direction == "in") ? '<i class="mdi mdi-trending-up green-text"></i>':'<i class="mdi mdi-trending-down red-text"></i>')+'</div><div class="cell">'+item.name+' </div><div class="cell">'+data[x].quantity+' </div><div class="cell">'+storage.name+' </div><div class="cell"><img src="'+user.dp+'" class="dp" /></div><div class="cell">'+data[x].remarks+' </div></div>');
						});
					})
				})

			}
		})
	</script>
</div>