<div id="view">
	<section>
		<div class="container">
			<div class="columns">
				<div class="col-12">
					<div class="card">
						<div class="wrapper">
							<h1><a href="#/transaction" class="icon_button"><i class="mdi mdi-arrow-left"></i></a>Transfer</h1>
						</div>
						<form id="frm">
							<div class="table vertical-data top" id="tblItems">
								<div class="row title">
									<div class="cell w-6">Item</div>
									<div class="cell">Quantity</div>
									<div class="cell fit"></div>
								</div>
								<div class="row" data-template>
									<div class="cell"><label><select name="itemid[]"></select></label></div>
									<div class="cell">
										<label><input type="number" name="quantity[]" required></label>
										<label><input type="hidden" name="max[]"></label>
										<small class="quantity"></small>
									</div>
									<div class="cell"></div>
								</div>
							</div>
							<div class="wrapper right">
								<a onclick="duplicateRow()" class="button">Add Item</a>
							</div>
							<div class="table horizontal-data middle">
								<div class="row">
									<div class="cell">Storage</div>
									<div class="cell">
										<div class="table middle">
											<div class="row">
												<div class="cell w-5" style="padding-right: 8px;">
													<b>From</b>
													<label><select name="storage_from"></select></label>
												</div>
												<div class="cell w-2 center">
													<i class="mdi mdi-arrow-right"></i>
												</div>
												<div class="cell w-5" style="padding-left: 8px;">
													<b>To</b>
													<label><select name="storage_to"></select></label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<script>
									var db = new Data();
									db.pull(function(data) {
										for(var x in data.storages) {
											$("select[name*=storage]").append($("<option></option>").attr("value", x).text(data.storages[x]));
										}
										for(var x in data.items) {
											$("#tblItems select").append($("<option></option>").attr("value", x).text(data.items[x].name + ((data.items[x].description != "") ? " ("+data.items[x].description+")" : "")));
										}
										$("#tblItems").on("change", "select", function() {
											var item = db.get("items/"+$(this).val());
											var c = 0;
											for(var i in item.stored) {
												c += item.stored[i];
											}
											$(this).parents(".row").find("small.quantity").text("Quantity: " + c);
											$(this).parents(".row").find("input[name*=max]").val(c);
										})

										.on("change", "input[name*=quantity]", function() {
											var q = $(this).val();
											var max = $(this).parents(".row").find("input[name*=max]").val();
											if($("#frm").find("input[name=direction]:checked").val() == "out") {
												if(max < q) {
													alert("Invalid input. Maximum quantity is " + max);
													$(this).val("0");
												}
											}
										})
										$("#tblItems select").change();
									});
								</script>
								<div class="row">
									<div class="cell">Remarks</div>
									<div class="cell">
										<label><input type="text" name="remarks"></label>
									</div>
								</div>
								<div class="row">
									<div class="cell"></div>
									<div class="cell">
										<input type="submit" value="Add Transaction">
									</div>
								</div>
							</div>
							<script>
								function duplicateRow() {
									var row = $("#tblItems .row[data-template]").clone();
									$("#tblItems").append(row.removeAttr("data-template").find(".cell:last-child").html('<a onclick="deleteRow(event);" class="icon_button"><i class="mdi mdi-close"></i></a>').parents(".row").find(".cell:nth-child(2) input").val("").parents(".row"));
									$("#tblItems select").change();
								}
								function deleteRow(event) {
									$(event.target).parents(".row").remove();
								}
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		$("#frm").off().submit(function(e) {
			var form = $(this);
			$(this).parents(".card").append(App.Constant.CARD_BLUR);
			var val = $(this).serializeJSON();
				var transactions = [];
				var items = [];
				var db = new Data();
				db.pull(function(data) {
					function transfer(storage, direction) {
						console.log(storage + " " + direction);
						for(var i in val.itemid) {
							transactions.push(new Transaction());
							items.push(new Item(val.itemid[i]));
							var item = db.get("items/"+val.itemid[i]);
							if(val.quantity[i] != "") {
								transactions[i].add({
									"direction": direction,
									"item": val.itemid[i],
									"quantity": val.quantity[i],
									"remarks": val.remarks,
									"storage": storage,
									"user": App.Firebase.user.uid
								});
								var newQ = parseInt(val.quantity[i]);
								if(item.hasOwnProperty("stored")) {
									if(item.stored.hasOwnProperty(storage) && item.stored !== false)
										newQ = (direction == "in") ? (+parseInt(item.stored[storage]) + newQ) : (+parseInt(item.stored[storage]) - newQ);
								}
								console.log(newQ);
								items[i].updateStorage(storage, newQ);
							}
						}
					}
					transfer(val.storage_from, "out");
					transfer(val.storage_to, "in");
					App.location("transaction", "", []);
				})
			e.preventDefault();
		})
	</script>
</div>