body {
	background-color: #37424b;
	margin: 0px;
	font-family: 'Roboto';
}
.container {
	overflow: hidden;
	position: relative;
	background-color: #f3f3f3;
}
.phmap {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .05;
	background-image: url(../images/phmap.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: contain;
}
.action-bar {
	position: relative;
	width: 100%;
	padding-top: 12px;
}
.action-bar .wrapper {
	max-width: 1080px;
	min-width: 320px;
	width: 100%;
	margin: 0px auto;
	height: 60px;
	position: relative;
	overflow: hidden;
}
.gdg-icon {
	background-image: url(../images/gdg-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.action-bar .gdg-icon {
	width: 25px;
	height: 30px;
	position: relative;
	float: left;
	margin-top: 12px;
	margin-left: 12px;
}
.action-bar span.gdg-text {
	font-family: 'Product Sans';
	padding: 12px 0px 0px 12px;
	float: left;
	font-size: 27px;
	opacity: .65;
	color: #333;
}
.action-bar a.menu {
	display: inline-block;
	width: 48px;
	height: 60px;
	margin: 0px;
	float: left;
	display: none;
	color: #333;
}
.action-bar a.menu i {
	padding-top: 16px;
	padding-left: 16px;
}
.action-bar ul.nav {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.action-bar ul.nav li {
	padding: 0;
	margin: 0;
	display: table;
	height: 60px;
	float: left;
}
.action-bar ul.nav li a {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Product Sans';
	opacity: .75;
	color: #333;
}
.action-bar ul.nav li a.selected {
	color: #4285f4;
	opacity: 1;
}

.loading {
  position: absolute;
  left: 50%;
  margin-left: -26px;
  top: -70px;
  width: 52px;
  height: 52px; 
  background: white;
  border-radius: 100%;
  box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
.loading_icon {
	position: relative;
	width: 52px;
	height: 52px;
	margin: 0px auto;
	display: block;
}
  .load_template .circular {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 36px;
    height: 36px;
    margin: 8px; }
  .load_template .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round; }


@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }
@-webkit-keyframes color {
  100% {
    stroke: #d62d20; }
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80% {
    stroke: #ffa700; }
  90% {
    stroke: #ffa700; } }
@keyframes color {
  100% {
    stroke: #d62d20; }
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80% {
    stroke: #ffa700; }
  90% {
    stroke: #ffa700; } }

.button_group a {
	background: #bbb !important;
}
.button_group a.selected {
	background: #005cb9 !important;
}
#containerEvents a {
	color: #005cb9;
}

.view {
	max-width: 1080px;
	min-width: 320px;
	position: relative;
	margin: 0px auto;
	padding: 50px 24px;
	color: #666;
}
.view p {
	line-height: 150%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Product Sans';
	color: #666;
}
.cover {
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-ms-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	width: 100%;
	height: 400px;
	background-color: #efefef;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 3px;
	box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}
.columns {
	padding-top: 24px;
}
.card {
	background: white;
	width: 100%;
	padding: 24px;
	margin-bottom: 24px;
	border-radius: 3px;
	box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}
.card.nopad {
	padding: 0;
}
[class^="col-"] .wrapper {
	padding: 12px;
}
[controller="about"] .gdg-icon {
	width: 200px;
	height: 200px;
	margin: 0px auto;
	display: block;
	border-radius: 100%;
	background-color: white;
	background-image: url(../images/gdg-icon_large.png);
	background-size: 40%;
	box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}
[controller="team"] [class^="col-"] {
	text-align: center;
	padding: 24px 0px;
	height: 314px;
}
[controller="team"] [class^="col-"] .wrapper {
	padding: 0px 12px;
}
[controller="team"] img {
	border-radius: 100%;
	width: 150px;
	box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}
[controller="team"] img.sm {
	border-radius: 0px;
	width: 24px;
	height: 24px;
	box-shadow: 0px 0px 0px black;
	margin: 8px;
	position: relative;
	top: 10px;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
[controller="team"] .col-4:hover img.sm {
	top: 0px;
	opacity: 1;
}
[controller="team"] b {
	display: block;
	padding-top: 12px;
	font-size: 22px;
}
.black-trans {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,.2);
	display: none;
	cursor: pointer;
}
.slider {
	position: fixed;
	overflow-y: scroll;
	width: 300px;
	height: 100%;
	top: 0px;
	left: -310px;
	background: white;
	box-shadow: 0px 0px 8px rgba(0,0,0,.2);
}
.slider::-webkit-scrollbar {
	width: 0px;
}
.slider a.back {
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	color: #333;
}
.slider a.back i {
	padding: 10px 0px 0px 10px;
}
.slider ul.nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.slider ul.nav a {
	display: block;
	width: 100%;
	color: #333;
	padding: 12px 24px;
	border-left: 3px solid transparent;
}
.slider ul.nav a.selected {
	border-left: 3px solid #4285f4;
}
.footer {
	border-top: 1px solid #e9e9e9;
	padding-top: 24px;
	padding-bottom: 50px;
	width: 100%;
	font-size: 15px;
	color: #cfd8dc;
	clear: both;
	margin: 0px auto;
	margin-top: 48px;
	float: left;
	z-index: 10;
	position: relative;
	background: #303c42;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,e5e5e5+100 */
	/*background: #e5e5e5; 
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e5e5e5 100%); 
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e5e5e5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e5e5e5',GradientType=0 );*/
}
.footer p {
	line-height: 150%;
}
.footer>.wrapper {
	min-width: 320px;
	max-width: 1080px;
	margin: 0px auto;
}
.footer .columns {
	clear: both;
	padding: 0px;
}
.footer .hr {
	position: absolute;
	top: 0px;
	height: 8px;
	right: 0px;
	width: 240px;
	margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
	.footer .columns {
		padding-top: 24px;
	}
}
.footer [class^="col-"]>.wrapper {
	padding: 0px 24px;
}
.footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer ul li {
	margin: 8px 0px;
}
.footer ul a {
	color: inherit;
}
.footer ul a:hover {
	text-decoration: underline;
}
.footer a.icon {
	margin: 0px 8px;
	display: inline-block;
}
.footer img {
	height: 20px;
}
.footer i.mdi {
	font-size: 24px;
	color: #cfd8dc;
}
.footer h4 {
	color: #cfd8dc;
	margin-bottom: 12px;
}
.footer2 {
	background-color: #37424b;
	width: 100%;
	font-size: 16px;
	color: #cfd8dc;
	clear: both;
	float: left;
	z-index: 10;
	position: relative;
}
.footer2 .columns {
	padding: 0px;
}
.footer2 .wrapper {
	padding: 0px;
}
.footer2 > .wrapper {
	padding: 24px;
	min-width: 320px;
	max-width: 1080px;
	margin: 0px auto;
}
.footer2 .gdg-icon {
	width: 25px;
	height: 24px;
	position: relative;
	top: -3px;
	vertical-align: middle;
	display: inline-block;
}
.footer2 .gdg-text {
	color: #cfd8dc;
	font-family: 'Product Sans';
	font-size: 20px;
}
table.mileage {
	width: 100%;
	border-collapse: collapse;
}
table.mileage td {
	border-collapse: collapse;
	hyphens: auto;
	padding: 12px;
	border: 1px solid rgba(0,0,0,.05);
	border-top: 0;
}
table.mileage tr.title {
	background: #5793f5;
	color: white;
	font-weight: bold;
}
table.mileage tr.title td {
	border: 0;
}
table.mileage td:not(:first-child) {
	text-align: center;
}
table.mileage img {
	width: 24px;
}

.hr {
	width: 100%;
	display: block;
	position: relative;
	height: 2px;
	overflow: hidden;
	background: #0f9d58;
	margin-bottom: 12px;
}
.hr .b {
	width: 25%;
	height: 100%;
	float: left;
}
.hr .b:first-child {
	background: #4285f4;
}
.hr .b:nth-child(2) {
	background: #db4437;
}
.hr .b:last-child {
	background: #ffc107;
}
#upcoming p, #blogposts p {
	font-size: 14px;
}

@media screen and (max-width: 900px) {
	.s900-col-6 {
		width: 50% !important;
	}
}
@media screen and (max-width: 600px) {
	[class^="col-"] .wrapper {
		padding: 0;
	}
  .view .columns [class^="col-"] {
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;}
	.view .columns [class^="col-"] .m-center {
		text-align: center;
	}
	.cover {
		height: 250px;
	}
	.footer {
		padding-top: 0px;
	}
	.footer [class^="col-"] {
		width: 100% !important;
	}
	.footer [class^="col-"] .wrapper {
		padding-left: 24px;
	}
	.footer ul {
		padding-left: 24px;
	}
	.footer p {
		padding-left: 24px;
	}
	table.mileage {
		font-size: 13px;
	}
	table.mileage img {
		width: 16px;
	}
}
@media screen and (max-width: 375px) {
	.view>h1 {
		padding-left: 24px;
	}
	.view {
		padding-left: 0px;
		padding-right: 0px;
	}
	.view .columns [class^="col-"] {
    	padding-left: 0 !important
    } 
	[controller="about"] .wrapper>p {
		padding: 0px 24px;
	}
}